:root {
    --logo-up-color:#2E2F42;
    --logo-down-color: #F4F4FD;
    --logo-web-color: #4D5AE5;
    --text-color:#434455;
    --title-color: #2E2F42;
    --wite-color:#FFFFFF;
    --hover-color:#404BBF;
}
h1,h2,h3,h4,p {
    margin-top: 0;
    margin-bottom: 0;
}
ul  {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
}
img {
   display: block; 
   max-width: 100%;
   height: auto;
}
button {
    cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color:var(--wite-color);
} 
.container {
    width: 100%px;
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.list-nav {
    display: flex;
    align-items: center;
}
.menu:not(:last-child) {
    margin-right: 40px;
}
.logo {
    margin-right: 76px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-up-color);
}
.logo-web {
    color: var(--logo-web-color);
}
.nav-studio   {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.nav-studio:hover,  .nav-studio:focus{
    color: var(--hover-color);
}
.nav-portfolio {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.nav-portfolio:hover, .nav-portfolio:focus {
    color: var(--hover-color);
}
.nav-contacts {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.nav-contacts:hover, .nav-contacts:focus {
    color: var(--hover-color);
}
.address {
    font-style: normal;
    margin-left: auto;
}
.list-address {
    display: flex;
    align-items: center;
}
.link {text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.link:hover, .link:focus {
    color: var(--logo-web-color);
}
.link-mail {
    margin-left: auto;
    margin-right: 40px;
}
.title {
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: #2E2F42;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 292px;
    }

.title-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--wite-color)
}
.button {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 48px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--wite-color)
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.button:hover, .button:focus {
    background: var(--hover-color);
    color: var(--wite-color);
}
.list-features {
    display: flex;
    align-items: center;
    gap: 24px;
}
.features-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--title-color)
}
.features-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.list-what-re-we-doing {
    display: flex;
    justify-content: center;
    padding-top: 72px;
    gap: 24px;
}
.what-re-we-doing-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--title-color);
}
.list-our-team {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 24px;
    text-align: center;
}
.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    color: var(--title-color);
}
.mark-guerrero {
    background: var(--wite-color);
}
.tom-ford {
    background: var(--wite-color);
}
.camila-garcia {
    background: var(--wite-color);
}
.daniel-wilson {
    background: var(--wite-color);
}
.our-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.list-our-team-text {
    padding-top: 32px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.our-team-profession {
    padding-top: 8px;
    padding-bottom: 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-button-text {
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color:var(--logo-web-color);
    background: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
}
.portfolio-button-text:hover, .portfolio-button-text:focus {
    color:var(--wite-color);
    background-color:var(--logo-web-color);
}
.list-button-portfolio {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.portfolio-content {
    text-decoration: none;
}
.list-portfolio-content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.button-portfolio {
    width: calc((100% - 2*24px)/3);
}
.portfolio-title {
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.portfolio-content-text {
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid #E7E9FC;
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.list { 
    list-style: none;
}
.our-team {
    background: #F4F4FD;
}
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #2E2F42;
}
.logo-footer {
    margin-right: 0px;
    color: var(--logo-down-color);
}
.footer-text {
    max-width: 264px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC
}

